@charset "utf-8";
#header_wrap{width:100%;border-top:5px solid #009223;}
.header{width:1280px;height:165px;margin:0 auto;position:relative;left:0;top:0;}
	.logo{position:absolute;left:50%;top:35px;margin-left:-101px;}
	.logo a{display:block;background:url(../images/logo_w.png) 0 0 no-repeat;width:202px;height:40px;
	overflow:hidden;font-size:0;line-height:0;text-indent:-9999px;}

	.util_menu{position:absolute;right:25px;top:40px;}
	.util_menu ul{}
	.util_menu ul:after{content:"";display:block;clear:both;}
	.util_menu li{float:left;margin-left:5px;display:list-item;}
	.util_menu a{display:block;border:1px solid #dddddd;border-radius:50px;height:28px;line-height:28px;
	background-color:#fff;color:#666666;font-size:13px;letter-spacing:-0.02em;padding:0 13px;}
	.util_menu li .global_subway{background:url(../images/icon_global_subway.png) 50% 50% no-repeat;overflow:hidden;
	width:30px;height:30px;padding:0;text-indent:-9999px;font-size:0;}

	.gnb{width:900px;text-align:center;position:relative;top:98px;margin:0 auto;z-index:10;}
	.gnb ul{_display:inline-block;width:100%;}
	.gnb ul:after{content:"";display:block;clear:both;}
	.gnb li{float:left;width:180px;display:list-item;position:relative;}
	.gnb .depth_1{display:block;font-size:18px;color:#292929;letter-spacing:-0.04em;font-weight:bold;
	/*padding-top:20px*/;transition:0.2s;cursor:pointer;line-height:50px;}
	.gnb .depth_1:hover{}
		
	.gnb .depth_2{position:absolute;left:0;width:100%;top:67px;background:#fff;}
	.gnb .depth_2 ul{border-top:1px solid #cdcdcd;height:250px;}
	.gnb .depth_2 li{}
	.gnb .depth_2 a{display:block;font-size:15px;color:#666666;padding:8px 0 9px;letter-spacing:-0.05em;}
	.gnb .depth_2 a:hover{text-decoration:underline;font-weight:bold;color:green;}

section{width:100%;}
	.banner{overflow:hidden;width:100%;position:relative;}
	.banner>ul{width:600%;position:relative;height:440px;}

	.banner>ul>li{width:100%;position: absolute;height:440px;}
	.banner>ul>li:nth-child(1){background:url(../images/써브웨이_메인배너_01.jpg) no-repeat center;}
	.banner>ul>li:nth-child(2){left:100%;background:url(../images/써브웨이_메인배너_02.jpg) no-repeat;}
	.banner>ul>li:nth-child(3){left:200%;background:url(../images/써브웨이_메인배너_03.jpg) no-repeat;}
	.banner>ul>li:nth-child(4){left:300%;background:url(../images/써브웨이_메인배너_04.jpg) no-repeat;}
	.banner>ul>li:nth-child(5){left:400%;background:url(../images/써브웨이_메인배너_05.jpg) no-repeat;}
	.banner>ul>li:nth-child(6){left:500%;background:url(../images/써브웨이_메인배너_06.jpg) no-repeat;}

	.btn{width:100%;position:absolute;bottom:0;text-align:center;cursor:pointer;}
