@charset "utf-8";
#header_wrap{width:100%;border-top:5px solid #009223;min-width:1280px;position:relative;}
	.close_btn{width:40px;height:40px;position:absolute;right:350px;top:0;cursor:pointer;}
.header{width:1280px;height:165px;margin:0 auto;position:relative;left:0;top:0;}
	.logo{position:absolute;left:50%;top:35px;margin-left:-101px;}
	.logo a{display:block;background:url(../images/logo_w.png) 0 0 no-repeat;width:202px;height:40px;
	overflow:hidden;font-size:0;line-height:0;text-indent:-9999px;}

	.util_menu{position:absolute;right:25px;top:40px;}
	.util_menu ul{}
	.util_menu ul:after{content:"";display:block;clear:both;}
	.util_menu li{float:left;margin-left:5px;display:list-item;}
	.util_menu a{display:block;border:1px solid #dddddd;border-radius:50px;height:28px;line-height:28px;
	background-color:#fff;color:#666666;font-size:13px;letter-spacing:-0.02em;padding:0 13px;}
	.util_menu li .global_subway{background:url(../images/icon_global_subway.png) 50% 50% no-repeat;overflow:hidden;
	width:30px;height:30px;padding:0;text-indent:-9999px;font-size:0;}

	.gnb{width:900px;text-align:center;position:relative;top:98px;margin:0 auto;z-index:10;}
	.gnb ul{_display:inline-block;width:100%;}
	.gnb ul:after{content:"";display:block;clear:both;}
	.gnb li{float:left;width:180px;display:list-item;position:relative;}
	.gnb .depth_1{display:block;font-size:18px;color:#292929;letter-spacing:-0.04em;font-weight:bold;
	/*padding-top:20px*/;transition:0.2s;cursor:pointer;line-height:50px;}
	.gnb .depth_1:hover{}
		
	.gnb .depth_2{position:absolute;left:0;width:100%;top:67px;background:#fff;}
	.gnb .depth_2 ul{border-top:1px solid #cdcdcd;height:250px;}
	.gnb .depth_2 li{}
	.gnb .depth_2 a{display:block;font-size:15px;color:#666666;padding:8px 0 9px;letter-spacing:-0.05em;}
	.gnb .depth_2 a:hover{text-decoration:underline;font-weight:bold;color:green;}

section{width:100%;}
	.banner{overflow:hidden;width:100%;position:relative;}
	.banner>ul{width:600%;position:relative;height:440px;}
	.banner>ul:after{content:"";display:block;clear:both;}
	.banner>ul>li{width:100%;height:440px;float:left;text-indent:-9999px;}
	.banner>ul>li:nth-child(1){background:url(../images/써브웨이_메인배너_01.jpg) no-repeat center;}
	.banner>ul>li:nth-child(2){background:url(../images/써브웨이_메인배너_02.jpg) no-repeat center;}
	.banner>ul>li:nth-child(3){background:url(../images/써브웨이_메인배너_03.jpg) no-repeat center;}
	.banner>ul>li:nth-child(4){background:url(../images/써브웨이_메인배너_04.jpg) no-repeat center;}
	.banner>ul>li:nth-child(5){background:url(../images/써브웨이_메인배너_05.jpg) no-repeat center;}
	.banner>ul>li:nth-child(6){background:url(../images/써브웨이_메인배너_06.jpg) no-repeat center;}

	.btn{width:100%;position:absolute;bottom:0;text-align:center;cursor:pointer;display:none;}
	.banner_pager{width:100%;position:absolute;bottom:30px;right:-500px;cursor:pointer;text-align:center;
		color:#fff;}

	.quick_menu{width:100%;position:relative;}	
	.quick_menu_content{width:600px;height:80px;margin:0 auto;position:absolute;top:-20px;right:330px;}
	.quick_menu_content:after{content:"";display:block;clear:both;}
	.quick_menu_content>div{float:left;text-align:center;line-height:75px;font-size:20px;font-weight:bold;}	
	.quick_menu_content>.store{width:50%;height:80px;background:#ffce32 url(../images/icon_map.png) no-repeat;
		background-position:80px 25px;border-radius:30px 0 0 0;}
		/*.store>img{width:34px;height:30px;}*/	
	.quick_menu_content>.franchise{width:50%;height:80px;background:#009223 url(../images/icon_franchise.png) no-repeat;
		background-position:70px 25px;border-radius:0 0 30px 0;color:#fff;padding-left:30px;}
	
	.subway_menu{width:1280px;height:560px;margin:0 auto;padding:60px 0 0;}
	.subway_menu:after{content:"";display:block;clear:both;}
		.left{float:left;height:70px;background:url(../images/bul_tit.png) no-repeat;font-size:40px;font-weight:bold;}
		.right{float:right;margin-top:20px;}
		.right:after{content:"";display:block;clear:both;}
		.right>li{float:left;border-left:1px solid #000;}
		.right>li:first-child{border:none;}
		.right>li>a{display:block;text-align:center;padding:0 20px;font-weight:bold;color:#666666;}			

		.sandwich{width:1200px;margin:80px auto;overflow:hidden;} 
		.sandwich>ul{width:1750px;height:182px;padding:0 5px;}
		.sandwich>ul:after{content:"";display:block;clear:both;}
		.sandwich>ul>li{width:260px;height:182px;float:left;margin:0 0 0 30px;}

		.prev{width:50px;height:50px;background:url(../images/icon_event_slider_arr.png) no-repeat 0 0;position:absolute;}
		.next{width:50px;height:50px;background:url(../images/icon_event_slider_arr.png) no-repeat 100% 0;position:absolute;}
